@font-face {
  font-family: "SF Pro Display";
  src: url("../src/assets/fonts/sf-pro-display_regular.woff2");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.section-main {
  text-align: center;
  min-height: 692px;
  padding-top: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #1d1d1f;
  margin-bottom: 12px;
}

.iphone-pro {
  background-image: image-set(
    "../src/assets/images/hero_iphone_17_pro.avif" type("image/avif"),
    "../src/assets/images/hero_iphone_17_pro.webp",
    "../src/assets/images/hero_iphone_17_pro.jpg"
  );
  color: #f5f5f7;
}

.iphone-air {
  background-image: image-set(
    "../src/assets/images/hero_iphone_air.avif" type("image/avif"),
    "../src/assets/images/hero_iphone_air.webp",
    "../src/assets/images/hero_iphone_air.jpg"
  );
}

.iphone {
  background-image: image-set(
    "../src/assets/images/hero_iphone_17.webp" type("image/webp"),
    "../src/assets/images/hero_iphone_17.jpg"
  );
}

.section-main__title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 56px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 5px;
}

.section-main__subtext {
  font-size: 28px;
  line-height: 32px;
  max-width: 340px;
  margin: 0 auto 7px;
}

.section-main__text {
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 15px;
  color: #6e6e73;
}

.btn-box {
  display: flex;
  justify-content: center;
  gap: 18px;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.btn {
  font-size: 17px;
  padding: 12px 22px;
  line-height: 20px;
  border-radius: 22px;
}

.btn-primary {
  background-color: #0071e3;
  color: #fff;
}

.btn-secondary {
  color: #0071e3;
  border: 1px solid #0071e3;
}
